services:
  recipient-database:
    image: postgres:latest
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
  recipient-service:
    build:
      dockerfile: recipient-service/Dockerfile
      context: .
    container_name: recipient-service
    env_file:
      - .env
      - recipient-service/.env.recipient
    environment:
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}

      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_KEY: ${AWS_SECRET_KEY}
    ports:
      - "8080:8080"
    depends_on:
      - recipient-database
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data: